html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  font-family: "Roboto";
  color:#f0f0f0;
  overflow-x: hidden;
  position: relative;
  background-color: black;

}
#header_menu{
  display: flex;
  padding-bottom: 0;
}
.header_menu_item{
  display: block;
  margin: 3px;
  padding: 10px;
  width: 25%;
  border-top: 2px solid #f0f0f0;
  font-size: 24px;
  text-align: center;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.header_menu_item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f0f0f0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.header_menu_item:hover, .header_menu_item:focus, .header_menu_item:active {
  color: black;
}
.header_menu_item:hover:before, .header_menu_item:focus:before, .header_menu_item:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


#top{
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

#image{
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#planet_txt{
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 170%;
}

li{
  margin-bottom: -5%;
  text-align: left;
}

@media (max-width: 992px) {
  .header_menu_item{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 45px;
  }
   #top{
    font-size: 40px;
  }
}