#image{
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#planet_txt{
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 170%;
}
